[project]
    dependencies = [
        "django-cors-headers>=4.9.0",
        "django>=5.2.5",
        "djangorestframework-simplejwt>=5.5.1",
        "djangorestframework>=3.16.1",
        "google-genai>=1.38.0",
        "pydantic>=2.11.9",
        "python-dotenv>=1.1.1",
]
    name = "nutriplan-backend"
    requires-python = ">=3.13"
    version = "0.2.0"

[dependency-groups]
    dev = [
        "factory-boy>=3.3.3",
        "pytest-cov>=7.0.0",
        "pytest-django>=4.11.1",
        "pytest>=8.4.2",
        "ruff>=0.12.12",
    ]

[tool.ruff.lint]
    ignore = [
        "COM812",
        "D200",
        "D202",
        "D203",
        "D212",
        "D401",
    ]
    select = ["ALL"]

    [tool.ruff.lint.isort]
        case-sensitive             = true
        combine-as-imports         = true
        force-sort-within-sections = true
        order-by-type              = true
        relative-imports-order     = "closest-to-furthest"
        split-on-trailing-comma    = false

[tool.pytest.ini_options]
    DJANGO_SETTINGS_MODULE = "backend.settings"
    addopts                = ["--disable-warnings", "--strict-markers", "-q", "-ra"]
    python_files           = ["*_tests.py", "test_*.py", "tests.py"]
    testpaths              = ["src/nutriplan/tests"]
