[build]
    buildCommand = """
    uv sync --frozen && \
    uv run python src/manage.py collectstatic --noinput
    """
    builder = "RAILPACK"

[deploy]
    healthcheckPath = "/"
    healthcheckTimeout = 180
    numReplicas = 1
    # preDeployCommand = "uv run src/manage.py migrate"
    restartPolicyMaxRetries = 5
    restartPolicyType = "ON_FAILURE"
    runtime = "V2"
    sleepApplication = false
    startCommand = """
    uv run gunicorn backend.wsgi:application \
    --chdir src \
    --bind 0.0.0.0:$PORT \
    --workers 2 \
    --threads 2 \
    --timeout 120 \
    --access-logfile - \
    --log-level info
    """
    useLegacyStacker = false

    [deploy.multiRegionConfig.us-east4-eqdc4a]
        numReplicas = 1
