[build]
    buildCommand = "uv sync --frozen && uv run python src/manage.py collectstatic --noinput"
    builder      = "RAILPACK"

[deploy]
    runtime                 = "V2"
    sleepApplication        = false
    startCommand            = "uv run manage.py runserver 0.0.0.0:$PORT"
    useLegacyStacker        = false
