:root {
  --sidebar-length: 200px;

  --border-radius-1: 20px;

  --white-background: whitesmoke;

  --recipe-card-width: 250px;
  --recipe-card-height: 300px;

  --recipe-card-image-height: 100px;
}

* {
  box-sizing: border-box;
}

body { margin: 0px; }

#body {
  display: grid;
  grid-template-columns: var(--sidebar-length) 1fr;

  margin: 0px;

  width: 100vw;
  height: 100vh;
}

#sidebar {
  background-color: var(--white-background);
  box-shadow: 0px 0px 5px black;
}

#sidebar ul {
  display: flex;
  flex-direction: column;

  list-style: none;
}

.recipe-card {
  width: var(--recipe-card-width);
  height: var(--recipe-card-height);

  margin: 20px;

  background-color: var(--white-background);
  border-radius: var(--border-radius-1);
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.062);

  display: grid;
  grid-template-rows: var(--recipe-card-image-height) 1fr;

  transition: 0.25s;
}

.recipe-card:hover {
  transform: scale(105%) rotate(1deg);
}

.recipe-image-container {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-radius: inherit;
}

.recipe-image-gradient, .recipe-image {
  width: 100%;
  height: 100%;

  display: block;

  grid-column: 1;
  grid-row: 1;
}

.recipe-image-gradient {
  background: linear-gradient(#ffffff00, var(--white-background));
}

.recipe-image {
  overflow: hidden;
  border-radius: inherit;
  object-fit: cover;
}