name: backend-lint

on:
  push:
    branches:
      - backend-dev
    paths:
      - "backend/**"
  pull_request:
    branches:
      - backend-dev
    paths:
      - "backend/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: ruff check
        uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "check --diff --unsafe-fixes"

      - name: ruff format
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
          version: "latest"

